doctype html5
html
    head
        title my amature projects
        link(rel="stylesheet" href="css/main.css")
    
    body
        h1.header-one Jade Templates!!!!
        p.para Demo Project of Mine

        h2.header-two Gulp + jade + sass + uglify + connect
script(src="js/main.js")